$Theme-Primary: #E5E5E5;
$Theme-White: #FFFFFF;
$Theme-Dark: #000000;
$Theme-Blue: #5A55D2;
$Theme-White: #EFF0F4;
$Theme-Green: #00DEA3;
$Text-Violet: #41135C;
$Text-Dark: #00140E;
$Text-Red: #FF0000;
$Text-DarkGrey: #333333;
$Text-Green: $Theme-Green;
$Text-While: $Theme-White;
$Text-BlueDark: #192A3E;
$Text-BlueLight: #90A0B7;
$Text-Unactive-Violet: #B2A6C0;
$Icon-Dark: #231F20;
$Text-Active-Violet: #6A4981;

//login-size
$Input-Text-Color: #343C44;
$Boder-Left-Color: rgba(26, 30, 41, 0.12);
$Boder-Input-Color: #D6E4EC;
$Text-Login-Logo: #1A1E29;
$Bg-Error-Login-Color: #EB9393;
//html-font-size=10px
$Text-Font-size-Biggest: 2.4rem;
$Text-Font-size-large: 2.1rem;
$Text-Font-size-Medium: 1.6rem;
$Text-Font-size-Small: 1.2rem;
$Text-Font-size-Smallest: 1rem;
// sidebar
$Border-Color: #E4E7ED;
$Sidebar-Shadow-Color: rgba(0, 0, 0, 0.06);
$Date-Text-Color: #707EAE;
$Search-Placeholder-Color: #AEB6CF;
$Notifs-active-Dot-Color: #F23985;
